<Jumbo>
  <h2>About Canine Parks</h2>
  <p>
    The Canine Parks website is a delightful project created to explore Ember. By building a canine parks site, we can simultaneously imagine traveling AND building Ember applications.
  </p>
  <LinkTo class="button" @route="contact">Contact Us</LinkTo>
</Jumbo>